@import "../../../mixins.scss";
@import "../../../variables.scss";
.asset-list {
  .asset-item {
    background-color: #f2f2f2;
    width: 100%;
    height: 66px;
    padding: 8px;
    .icon {
      margin-right: 8px;
    }
    .asset-text-container {
      flex-grow: 1;
      overflow: hidden;
      & > div {
        overflow: hidden;
      }
      .asset-name {
        @include ellipsis-block;
      }
    }
  }
}
