root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.yml]
indent_style = space
indent_size = 2

[{src,test}/**.{ts,tsx,json,js,jsx}]
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# npm inserts a final newline.
[package.json]
trim_trailing_whitespace = false
