.search-form {
  display: inline-block;
  overflow: hidden;
  padding-bottom: 16px;
  .search-input {
    width: 250px;
    height: 34px;
    border-radius: 16px;
  }
  .search-summit {
    height: 34px;
    width: 100px;
    border-radius: 16px;
    color: white;
    background-color: #00DBB4;
  }
}
