.search-form {
  padding-bottom: 16px;
  .search-input {
    width: 300px;
    height: 34px;
  }
  .search-loading-bar {
    background-color: #00DBB4;
    max-width: 300px;
    height: 3px;
    position: absolute;
  }
  .search-summit {
    height: 34px;
    width: 100px;
    color: white;
    background-color: #00DBB4;
  }
}
