@import "../../../mixins.scss";
@import "../../../variables.scss";
.parcel-transaction-list {
  .input-output-container {
    background-color: $background-gray;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .view-more-transfer-btn {
    margin-bottom: 6px;
  }
  .input-highlight {
    background-color: #f9b7a9;
  }
  .output-highlight {
    background-color: #c1eed4;
  }
  .arrow-icon {
    color: #bdbdbd;
  }
}

.pie-chart-container {
  background-color: #ffffff;
  width: 100%;
  height: 400px;
  position: relative;
  .chart {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;

    .chart-item {
      height: 100%;
    }
  }
}
