@import "../../../mixins.scss";
@import "../../../variables.scss";
.transaction-list {
  .input-output-container {
    background-color: $background-gray;
    padding-left: 8px;
    padding-right: 8px;
  }
  .input-highlight {
    background-color: #F9B7A9;
  }
  .output-highlight {
    background-color: #C1EED4;
  }
}
