.latest-parcels {
  .latest-container {
    border: 2px solid #eee;
    table {
      margin-bottom: 0;
      table-layout: auto;
      word-break: break-all;
      tr th {
        text-align: center;
      }
      tr td {
        text-align: center;
      }
    }
  }
}
