.latest-parcels {
  .latest-container {
    table {
      margin-bottom: 0;
      table-layout: fixed;
      word-break: break-all;
      border-color: white;
      th,
      td {
        border-top: none;
        padding-top: 8px;
        padding-bottom: 8px;
      }
      thead {
        th {
          border-bottom: 1px solid black;
        }
      }
    }
    .view-all-btn {
      border: 1px solid #3A3FAB;
      color: #3A3FAB;
      border-radius: 17px;
      width: 160px;
      height: 33px;
      cursor: pointer;
      span {
        line-height: 33px;
      }
    }
    .parcel-type {
      color: white;
      width: 160px;
      border-radius: 11px;
    }
    .payment-type {
      background-color: #03A9F4;
    }
    .change-shard-state-type {
      background-color: #00B8D4;
    }
    .set-regular-key-type {
      background-color: #3A4EB7;
    }
  }
}
