@import "../../../mixins.scss";
@import "../../../variables.scss";
.transaction-details {
  h2 {
    color: $transaction-primary-color;
  }
  .heading-hr {
    border-top: 2px solid $transaction-primary-color;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
