@import "../../../mixins.scss";
.parcel-table {
  .page-btn {
    background-color: #3A3FAB;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
  }
  .page-btn.disable {
    background-color: #D5D5D5;
    cursor: inherit;
  }
  .parcel-type {
    color: white;
    width: 160px;
    border-radius: 11px;
  }
}
