@import "../../../mixins.scss";
.parcel-table {
  table {
    margin-bottom: 0;
    table-layout: fixed;
    word-break: break-all;
    border-color: white;
    width: 100%;
    th,
    td {
      border-top: none;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    td {
      max-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include data-font;
    }
    thead {
      th {
        border-bottom: 1px solid black;
      }
    }
  }
  .page-btn {
    background-color: #3A3FAB;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
  }
  .page-btn.disable {
    background-color: #D5D5D5;
    cursor: inherit;
  }
  .parcel-type {
    color: white;
    width: 160px;
    border-radius: 11px;
  }
  .payment-type {
    background-color: #03A9F4;
  }
  .change-shard-state-type {
    background-color: #00B8D4;
  }
  .set-regular-key-type {
    background-color: #3A4EB7;
  }
}
