@import "../../mixins.scss";
@import "../../variables.scss";
.parcel {
  padding-top: 60px;
  padding-bottom: 100px;
  .title-container {
    h1 {
      color: $primary-color;
    }
    .timestamp {
      @include small-text;
    }
  }
  .transaction-count-label {
    margin-top: 16px;
    .blue-color {
      color: #328AF2;
    }
  }
  .load-more-btn {
    border: 1px solid #3A3FAB;
    color: #3A3FAB;
    border-radius: 40px;
    width: 500px;
    height: 56px;
    text-align: center;
    cursor: pointer;
    h3 {
      line-height: 56px;
    }
  }
}
