@import "../../../mixins.scss";
@import "../../../variables.scss";
.account-asset-list {
  .asset-item {
    background-color: #F2F2F2;
    width: 100%;
    height: 66px;
    padding: 8px;
    .icon {
      width: 50px;
      height: 50px;
      margin-right: 8px;
    }
    .asset-text-container {
      flex-grow: 1;
      overflow: hidden;
      &>div {
        overflow: hidden;
      }
      h3 {
        @include ellipsis-block;
      }
    }
  }
}
