.pending-parcel-table {
  table {
    margin-bottom: 0;
    table-layout: fixed;
    word-break: break-all;
    border-color: white;
    width: 100%;
    th,
    td {
      border-top: none;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    td {
      max-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    thead {
      th {
        border-bottom: 1px solid black;
      }
    }
  }
  .page-btn {
    background-color: #3A3FAB;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
  }
  .page-btn.disable {
    background-color: #D5D5D5;
    cursor: inherit;
  }
  .change-shard-state-type {
    background-color: #00B8D4;
  }
  .payment-type {
    background-color: #03A9F4;
  }
  .set-regular-key-type {
    background-color: #3A4EB7;
  }
  .sort-header {
    cursor: pointer;
  }
  .sort-btn {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: #3A3FAB;
    margin-left: 5px;
    color: white;
  }
  .sort-btn.disable {
    background-color: #D5D5D5;
  }
  .type-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
  }
}
