.platform-address {
  padding-top: 60px;
  padding-bottom: 108px;
  .sub-title {
    margin-top: 60px;
  }
  hr {
    border-top: 1px solid black;
  }
  .load-more-btn {
    border: 1px solid #3A3FAB;
    color: #3A3FAB;
    border-radius: 40px;
    width: 500px;
    height: 56px;
    text-align: center;
    cursor: pointer;
    h3 {
      line-height: 56px;
    }
  }
}
