.latest-transactions {
  .latest-container {
    border: 1px solid black;
    table {
      margin-bottom: 0;
      table-layout: auto;
      word-break: break-all;
      tr th {
        text-align: center;
      }
      tr td {
        text-align: center;
      }
    }
  }
}
