.latest-transactions {
  .latest-container {
    table {
      margin-bottom: 0;
      table-layout: fixed;
      word-break: break-all;
      border-color: white;
      th,
      td {
        border-top: none;
        padding-top: 8px;
        padding-bottom: 8px;
      }
      td {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      thead {
        th {
          border-bottom: 1px solid black;
        }
      }
    }
    .view-all-btn {
      border: 1px solid #3A3FAB;
      color: #3A3FAB;
      border-radius: 17px;
      width: 160px;
      height: 33px;
      cursor: pointer;
      span {
        line-height: 33px;
      }
    }
    .transaction-type {
      color: white;
      width: 160px;
      border-radius: 11px;
    }
    .asset-transfer-type {
      background-color: #5300DB;
    }
    .asset-mint-type {
      background-color: #00DBB4;
    }
  }
}
