.latest-transactions {
  .latest-container {
    border: 1px solid black;
    table {
      table-layout: auto;
      word-break: break-all;
      tr th:nth-child(4) {
        text-align: center;
      }
      tr td:nth-child(4) {
        text-align: center;
      }
    }
  }
}
