@import "../../../mixins.scss";
@import "../../../variables.scss";
.block-list {
  h2 {
    color: $account-primary-color;
  }
  .heading-hr {
    border-top: 2px solid $account-primary-color;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
