@import "../../../mixins.scss";
@import "../../../variables.scss";
.header {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  .logo {
    height: 35px;
    width: auto;
    margin-right: 5px;
  }
  .nav-link {
    color: white !important;
    cursor: pointer;
    &:hover {
      color: $header-text-color !important;
    }
  }
  .dropdown-menu {
    .dropdown-item {
      color: $dark-color;
      &:hover {
        background-color: $background-gray;
      }
    }
    a.active {
      background-color: white;
    }
  }
  @include respond-below(md) {
    .dropdown-menu {
      background-color: $primary-color;
      border: none;
      .dropdown-item {
        color: white !important;
        &:hover {
          background-color: inherit;
          color: $header-text-color !important;
        }
      }
      a.active {
        background-color: $primary-color;
      }
    }
  }
  .loading-bar {
    background-color: #f2b04c;
    height: 5px;
    position: absolute;
  }
  .search-for-small-screen {
    display: none;
    padding-bottom: 16px;
  }
  @include respond-below(md) {
    .search-for-small-screen {
      display: flex;
    }
    .search-for-large-screen {
      display: none;
    }
  }
}
