.header {
  background-color: #3A3FAB;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  .logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .nav-link {
    cursor: pointer;
  }
  .loading-bar {
    background-color: #F2B04C;
    height: 5px;
    position: absolute;
  }
}
