@import "../../../mixins.scss";
.latest-transactions {
  .latest-container {
    .transaction-type {
      color: white;
      width: 160px;
      border-radius: 11px;
    }
    .asset-transfer-type {
      background-color: #5300DB;
    }
    .asset-mint-type {
      background-color: #00DBB4;
    }
  }
}
