@import "../../../mixins.scss";
@import "../../../variables.scss";
.block-details {
  .right-panel-item {
    background-color: $background-gray;
    padding: 12px;
    .square {
      margin-right: 10px;
    }
    .item-name {
      @include heading-font;
    }
    hr {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}
