@import "../../../mixins.scss";
@import "../../../variables.scss";
.latest-transactions {
  .latest-container {
    .transaction-type {
      color: white;
      width: 160px;
      border-radius: 11px;
    }
    .asset-transfer-type {
      background-color: $asset-transfer-transaction-primary-color;
    }
    .asset-mint-type {
      background-color: $asset-mint-transaction-primary-color;
    }
  }
}
