@import "../../mixins.scss";
@import "../../variables.scss";
.asset {
  padding-top: 60px;
  padding-bottom: 100px;
  .title-container {
    h1 {
      margin-bottom: 5px;
    }
    .left-container {
      vertical-align: top;
      margin-right: 10px;
    }
    .right-container {
      max-width: 700px;
      flex-grow: 1;
      overflow: hidden;
      vertical-align: top;
    }
  }
}
