@import "../../../mixins.scss";
@import "../../../variables.scss";
.parcel-transaction-list {
  .input-output-container {
    background-color: $background-gray;
    padding-left: 8px;
    padding-right: 8px;
  }
}
