@import "../../../mixins.scss";
@import "../../../variables.scss";
.block-parcel-list {
  .sender-receiver-container {
    @include ellipsis-block;
    background-color: $background-gray;
    padding: 8px;
  }
  .arrow-icon {
    color: #bdbdbd;
  }
}
