.block-parcel-list {
  .parcel-item {
    background: #F8F8F8;
    position: relative;
    border-radius: 13px;
    .type {
      position: absolute;
      right: 15px;
      top: 8px;
      color: white;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 13px;
    }
    .change-shard-state-type {
      background-color: #00B8D4;
    }
    .payment-type {
      background-color: #03A9F4;
    }
    .set-regular-key-type {
      background-color: #3A4EB7;
    }
    &>.row>div:first-child {
      padding-left: 27px;
    }
    &>.row>div:last-child {
      padding-right: 27px;
    }
    &>.row>div {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .background-highlight {
      border-radius: 10px;
      background-color: #F1F1F1;
    }
    .inner-row {
      margin: 0px;
    }
    .inner-row>div {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
