// font color
$dark-color: #4f4f4f;
$header-text-color: #c4c4c4;
// background color
$background-gray: #f2f2f2;
// line color
$line-color: #bdbdbd;
// Color set
$primary-color: #3a3fab;
// action
$payment-action-primary-color: #f2b04c;
$asset-transaction-group-action-primary-color: #6ad400;
$set-regular-key-action-primary-color: #ff866c;
// transaction
$asset-transfer-transaction-primary-color: #9e6cf1;
$asset-mint-transaction-primary-color: #00dbb4;
// Status
$pending-color: #f2c94c;
$confirmed-color: #1ccf68;
$dead-color: #eb5757;
