// font color
$dark-color: #4f4f4f;
$header-text-color: #eff2f4;
// background color
$background-gray: #f2f2f2;
// line color
$line-color: #bdbdbd;
// Color set
$primary-color: #05aad1;
// Status
$pending-color: #f2c94c;
$confirmed-color: #1ccf68;
$dead-color: #eb5757;
