@import "variables.scss";
@import "mixins.scss";
.payment-action-back-color {
  background-color: $payment-action-primary-color;
}

.payment-action-text-color {
  color: $payment-action-primary-color;
}

.change-shard-state-action-back-color {
  background-color: $change-shard-state-action-primary-color;
}

.change-shard-state-action-text-color {
  color: $change-shard-state-action-primary-color;
}

.set-regular-key-action-back-color {
  background-color: $set-regular-key-action-primary-color;
}

.set-regular-key-action-text-color {
  color: $set-regular-key-action-primary-color;
}

.asset-transfer-transaction-back-color {
  background-color: $asset-transfer-transaction-primary-color;
}

.asset-transfer-transaction-text-color {
  color: $asset-transfer-transaction-primary-color;
}

.asset-mint-transaction-back-color {
  background-color: $asset-mint-transaction-primary-color;
}

.asset-mint-transaction-text-color {
  color: $asset-mint-transaction-primary-color;
}

.small-text {
  @include small-text;
}

.data-set {
  &>.row {
    padding-top: 7px;
    padding-bottom: 7px;
    &>[class*="col-"]:nth-child(1) {
      @include heading-font;
    }
    &>[class*="col-"]:nth-child(2) {
      @include data-font;
      @include ellipsis-block;
    }
  }
  hr {
    border: 0;
    clear: both;
    display: block;
    height: 1px;
    background-color: $line-color;
    margin: 0;
  }
  .text-area {
    background-color: $background-gray;
    max-height: 58px;
    min-height: 37px;
    overflow-y: scroll;
    word-wrap: break-word;
    white-space: normal;
    padding: 8px;
  }
}

.data-table {
  margin-bottom: 0;
  table-layout: fixed;
  border-color: white;
  th,
  td {
    border-top: none;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  @include respond-below(sm) {
    th,
    td {
      @include small-text;
    }
  }
  td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include data-font;
    .icon {
      margin-right: 5px;
    }
  }
  thead {
    th {
      border-bottom: 2px solid $primary-color;
    }
  }
}

.hash-container {
  .hash {
    vertical-align: top;
    @include ellipsis-block;
    margin-right: 5px;
    flex-grow: 1;
    height: 30px;
    background-color: $background-gray;
    padding-left: 5px;
    padding-right: 5px;
    span {
      @include data-font;
      line-height: 30px;
    }
  }
}

.card-list-item {
  position: relative;
  border: 1px solid $line-color;
  .card-list-item-header {
    padding: 6px;
    background-color: $background-gray;
    border-bottom: 1px solid $line-color;
    .title {
      @include heading-font;
    }
  }
  .card-list-item-body {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.heading-hr {
  border-top: 2px solid $primary-color;
  margin-top: 2px;
  margin-bottom: 2px;
}

.pager {
  .number-view {
    padding-left: 50px;
    padding-right: 50px;
    color: $primary-color;
  }
  @media (max-width: 550px) {
    & {
      width: 100%;
      ul {
        width: 100%;
        display: flex
      }
      li:nth-child(3) {
        flex-grow: 1;
      }
    }
    .number-view {
      padding-left: 5px;
      padding-right: 5px;
      line-height: 26px;
      text-align: center;
      @include small-text;
    }
    .page-btn {
      @include small-text;
    }
  }
}

.btn.disabled {
  background-color: #F2F2F2 !important;
  opacity: 1;
  border: none;
  color: $dark-color !important;
}

.mt-large {
  margin-top: 30px;
}

.mt-small {
  margin-top: 20px;
}

.mb-large {
  margin-bottom: 30px;
}

.mb-small {
  margin-bottom: 20px;
}

.right-panel-item {
  background-color: $background-gray;
  padding: 12px;
  .square {
    margin-right: 10px;
  }
  .item-name {
    @include heading-font;
  }
  hr {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
