// font color
$dark-color: #4F4F4F;
// background color
$background-gray: #F2F2F2;
// line color
$line-color: #BDBDBD;
// Color set
$primary-color: #3A3FAB;
$block-primary-color: #3A3FAB;
$parcel-primary-color: #6AD400;
$transaction-primary-color: #5300DB;
// action
$payment-action-primary-color: #F2B04C;
$change-shard-state-action-primary-color: #6AD400;
$set-regular-key-action-primary-color: #FF866C;
// transaction
$asset-transfer-transaction-primary-color: #5300DB;
$asset-mint-transaction-primary-color: #00DBB4;
// Status
$pending-color: #F2C94C;
$confirmed-color: #1CCF68;
$dead-color: #EB5757;
