@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Roboto+Mono:300,400");
@import "mixins.scss";
@import "variables.scss";
@import "globals.scss";
html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: $dark-color;
}

a {
  color: #2d9cdb;
  &:hover {
    text-decoration: none;
  }
}

#page {
  min-height: 100vh;
  #content {
    padding-top: 53px;
    min-height: calc(100vh - 100px);
    overflow: auto;
    @include respond-below(md) {
      & {
        padding-top: 104px;
      }
    }
  }
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: white;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f2f2f2;
}

// Typography
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

h1,
h2,
h3 {
  color: $primary-color;
  margin-bottom: 5px;
}

h1 {
  font-size: 1.71rem;
}

h2 {
  font-size: 1.28rem;
}

h3 {
  font-size: 1rem;
}

@include respond-below(md) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
}
