@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Roboto+Mono:300,400');
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "mixins.scss";
@import "variables.scss";
@import "globals.scss";
html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: $dark-color;
}

a {
  color: #2D9CDB;
  &:hover {
    text-decoration: none;
  }
}

#page {
  min-height: 100vh;
  #content {
    padding-top: 104px;
    min-height: calc(100vh - 100px);
    overflow: auto;
  }
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: white;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #F2F2F2;
}

// Typography
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

h1,
h2,
h3 {
  color: $primary-color;
}

h1 {
  font-size: 1.71rem;
}

h2 {
  font-size: 1.28rem;
}

h3 {
  font-size: 1rem;
}

// Override bootstrap style
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  border-color: $primary-color;
  background-color: white;
  color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}
